@import url(variables.css);

/* 
------------
Utility
------------
*/

.decoration-container {
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.decoration-container.small {
    width: 30%;
}

.decoration-container hr {
    width: calc(50% - 10px);
    border-width: 5px;
    opacity: 1;
    border-radius: 20px;
}

.decoration-container i {
    flex-grow: 1;
    padding: 0 10px;
}

.first {
    background-color: var(--first-pic-color);
}

.second {
    background-color: var(--second-pic-color);
}
.third {
    background-color: var(--third-pic-color);
}
.fourth {
    background-color: var(--fourth-pic-color);
}
.fifth {
    background-color: var(--fifth-pic-color);
}
.sixth {
    background-color: var(--sixth-pic-color);
}

.button {
    font-family: inherit;
    color: inherit;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    width: auto;
}

.form {
    border-bottom: 1px solid var(--header-color);
    padding-left: 0;
}

.message {
    height: 300px;
}

.green {
    color: #fff;
    padding: 10px 20px;
    background-color: var(--section-first-color);
}

/* 
------------
Header
------------
*/

header {
    background-color: var(--header-color);
    color: #fff;
}

header ul {
    margin: 0;
}

/*
------------
Bio Section
------------ 
 */

#bio-section {
    background-color: var(--section-first-color);
    color: #fff;
}

#bio-section .img-container {
    min-width: 230px;
    max-width: 230px;
    height: 215px;
    background-color: blue;
}


/*
------------
Portfolio Section
------------ 
 */

#portfolio-section {
    color: var(--header-color);
}

#portfolio-section .box-img {
    border-radius: 10px;
    height: 300px;
    padding: 20px;
}

#portfolio-section .pic-container {
    margin: 0;
}


/*
------------
About Section
------------ 
 */

#about-section {
    background-color: var(--section-first-color);
    color: #fff;
}


/*
------------
Contact Section
------------ 
*/


#contact-section {
    color: var(--header-color);
}










