/* Variables */

:root {
    --header-color: #2c3e50;
    --section-first-color: #1abc9c;
    --first-pic-color: #ba4b63;
    --second-pic-color: #1ea4b6;
    --third-pic-color: #140f0f;
    --fourth-pic-color: #1c83c1;
    --fifth-pic-color: #0e38b5;
    --sixth-pic-color: #ccb2a3;
    --footer-color: #3a546d;
}